body {text-align: center;
      font-family: "Gloria Hallelujah" !important;
      /* background-color: #ffaf9b !important; */
      background: url("assets/clock.jpeg") no-repeat fixed center;
      max-width: 100vw;
      max-height: 100vh;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      overflow-x: none;
      overflow-y: none;
      }

.flex-container {display: flex;
                 width: 100vw;
                 height: 80vh;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 flex-wrap: wrap;}

#bubble {background-color: #ff4823;
         width: 70vh;
         height: 70vh;
         border-radius: 50%;
         align-items: center;
         box-shadow: 4px 10px 10px grey;
         overflow: none;
         }

h1 {font-size: 3em !important;
    color: white !important;
    text-shadow: 2px 2px 2px black;
    padding-top: 80px;
  }

h2 {font-size: 4em !important;
    text-shadow: 2px 2px 2px black;
    color: white !important;}

.button-group {padding-bottom: 50px !important;
              }

.btn {box-shadow: 2px 2px 5px black;
      margin-bottom: 10px !important;}

ul {
  overflow: auto;
}

@media only screen and (max-width: 769px) {
  h1 {
    font-size: 2rem;
    padding-top: 20px;
  }
  h2 {
    font-size: 4rem;
  }
  #bubble {
    width: 80vw;
    height: 80vw;
  }
  .button-group {
    padding-bottom: 10px;
  }
}




